:root{
    --introducao1: #F2D5E0;
    --introducao2: #03738C;
    --introducao3: #024059;
    --table1: #BF7E6F;
    --table2: #734A3C;
    --bastard1: hsl(0, 96%, 28%);
    --bastard2: #E5F8FF;
    --bastard3: #05C7F2;
    --bastard4: #8C0303;
    --goblin1: #012E40;
    --goblin2: #F2EFC2;
    --goblin3: #308C8C;
    --wolf1: #595625;
    --wolf2: #BFBD9F;
    --wolf3: #59341E;
    --cb1: #A62940;
    --cb2: #4ABFD9;
    --cb3: #D9B95B;
    --fb1: #F2911B;
    --fb2: #BF1B1B;
    --fb3: #732E07;
    --fb4: #F24B0F;
    --igor1: #F2B3CA;
    --igor2: #403C3B;
    --igor3: #26010B;
    --igor4: #8C5A6C;
    --cmiygl1: #73413D;
    --cmiygl2: #F2EBDF;
    --cmiygl3: #B3D9AD;
}
.box_shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.albumcover {
    width: 316px;
    height: 316px;
}
body {
    height: 1309px;
    width: auto;
    margin: 0px;
}
a{
    color: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;   
}
table {
    font-size: larger;
    width: 400px !important;
    margin: auto;
    background-color:var(--table1);
    border-color: var(--table2);
    color:var(--introducao1);
}
#introducao {
    background-color: var(--introducao1);
    margin-top: 0;
    color: var(--introducao3);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: 1170.250px;
}
h1 {
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px;
    text-align: center;
    height: auto;
}
#textointroducao1 {
    color: var(--introducao2);
    padding: 0;
    margin-top:5px;
}
#bastard { 
    background-color: var(--bastard1);
    margin-top: 0;
    color: var(--bastard2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_bastard {
    color: var(--bastard3);
    padding: 3px;
}
#musicas_bt {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid var(--bastard3);
}
.bastard_button{
    border:2px solid var(--bastard3);
    border-radius: 4px;
    background-color: var(--bastard4);
    color: var(--bastard2); 
    font-size: large; 
    margin: 10px;
}
.bastard_button:hover{
    background-color:var(--bastard3);
    color: var(--bastard2);
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
#goblin { 
    background-color: var(--goblin1);
    margin-top: 0;
    color: var(--goblin2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_goblin {
    color: #62D9B7;
    padding-top: 5px;
}
#musicas_gl {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid #025159;
}
.goblin_button{
    border:2px solid #62D9B7;
    border-radius: 4px;
    background-color:#025159;
    color: var(--bastard2); 
    font-size: large; 
    margin: 10px;
}
.goblin_button:hover{
    background-color:var(--goblin3);
    color: var(--bastard2);
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
#wolf { 
    background-color: var(--wolf1);
    margin-top: 0;
    color: var(--wolf2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_wolf {
    color: #260101;
    padding-top: 5px;
}
#musicas_wf {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid var(--wolf3);
}
.wolf_button{
    border:2px solid var(--wolf3);
    border-radius: 4px;
    background-color:#260101;
    color: #BFBD9F; 
    font-size: large; 
    margin: 10px;
}
.wolf_button:hover{
    background-color:var(--wolf3);
    color: #BFBD9F;
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
#cherry_bomb { 
    background-color: var(--cb1);
    margin-top: 0;
    color: var(--cb2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_cb {
    color: var(--cb3);
    padding-top: 5px;
}
#musicas_cb {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid var(--cb3);
}
.cb_button{
    border:2px solid var(--bastard3);
    border-radius: 4px;
    background-color:var(--cb1);
    color: var(--cb2); 
    font-size: large; 
    margin: 10px;
}
.cb_button:hover{
    background-color:var(--cb3);
    color: var(--cb1);
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
#flower_boy { 
    background-color: var(--fb1);
    margin-top: 0;
    color: var(--fb2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_fb {
    color: var(--fb3);
    padding-top: 5px;
}
#musicas_fb {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid var(--fb4);
}
.fb_button{
    border:2px solid var(--fb4);
    border-radius: 4px;
    background-color:var(--fb1);
    color: var(--fb2); 
    font-size: large; 
    margin: 10px;
}
.fb_button:hover{
    background-color:var(--fb2);
    color:#F2D194;
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
#igor { 
    background-color: var(--igor1);
    margin-top: 0;
    color: var(--igor2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_ig {
    color: var(--igor3);
    padding-top: 5px;
}
#musicas_ig {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid var(--igor4);
}
.ig_button{
    border:2px solid var(--igor4);
    border-radius: 4px;
    background-color:var(--igor1);
    color: var(--igor2); 
    font-size: large; 
    margin: 10px;
}
.ig_button:hover{
    background-color:var(--igor3);
    color:var(--introducao1);
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
#cmiygl { 
    background-color: var(--cmiygl1);
    margin-top: 0;
    color: var(--cmiygl2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}
.titulo_cmiygl {
    color: var(--cmiygl3);
    padding-top: 5px;
}
#musicas_cmiygl {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3px;
    display: block;
    border: 2px solid var(--cmiygl2);
}
.cmiygl_button{
    border:2px solid var(--cmiygl3);
    border-radius: 4px;
    background-color:var(--cmiygl1);
    color: var(--cmiygl3); 
    font-size: large; 
    margin: 10px;
}
.cmiygl_button:hover{
    background-color: var(--cmiygl2);
    color:var(--cmiygl1);
    border: none;
    border-radius:4px;
    font-size: large;
    margin: 12px;
}
